{{> navBar}}
<div class="container-fluid">
  <div class="row"> 
    <div class="col-md-6 col-md-offset-3 loginPanel">
      <div class="panel panel-default">
        <div class="panel-body">
          <form>
            <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
          </form>
            <button type="submit" id="loginButton" class="btn btn-lg btn-primary col-xs-12">Log In</button>
            <button type="submit" id="signup" class="btn btn-lg btn-default col-xs-12">Sign Up</button>
        </div>
      </div>
    </div> <!-- div class login panel -->
    <div class="menu col-md-12">
    </div>
    <div class="content col-md-12">
    </div>
    <div class="modal fade" tabindex="-1" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title modalTitle"></h4>
          </div>
          <div class="modal-body modalBody">
          </div>
          <div class="modalFooter col-md-12">
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
  </div> <!-- row  -->
</div> <!-- container fluid -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script type="text/javascript" src="javascript/homepage.js"></script>
<script type="text/javascript" src="javascript/questions.js"></script>     
<script type="text/javascript" src="javascript/signup.js"></script>
<script type="text/javascript" src="javascript/search.js"></script>