
  <a href="/patientregister">
    <div id="newPatient" class="col-md-6 btnDiv">
      <button class="btn btn-info btn-lg btn-block">New Patient </button>
    </div>
  </a>
  <div id="searchPatient" class="col-md-6 btnDiv">
    <button class="btn btn-info btn-lg btn-block">Search By Patient</button>
  </div>
  <a href="/showAll">
    <div id="viewAll" class="col-md-6 btnDiv">
      <button class="btn btn-info btn-lg btn-block">View All Patients</button>
    </div>
  </a>
  <a href="/logout">
    <div id="logOut" class="col-md-6 btnDiv">
      <button class="btn btn-info btn-lg btn-block">Log Out</button>
    </div>
  </a>
</div>
<script>

  </script>



<!-- <script type="text/javascript" src="javascript/loggedIn.js"></script>
<script type="text/javascript" src="javascript/homepage.js"></script> -->
<!-- <script type="text/javascript" src="javascript/questions.js"></script>     
<script type="text/javascript" src="javascript/signup.js"></script>
<script type="text/javascript" src="javascript/search.js"></script> -->