
  <a href="/patientregister">
    <div id="newPatient" class="col-md-6 btnDiv">
      <button class="btn btn-info btn-lg btn-block btn-xl">New Patient </button>
    </div>
  </a>
  <a href="search">
  <div id="searchPatient" class="col-md-6 btnDiv">
    <button class="btn btn-info btn-lg btn-block btn-xl">Search By Patient</button>
  </div>
  </a>
  <a href="/showAll">
    <div id="viewAll" class="col-md-6 btnDiv">
      <button class="btn btn-info btn-lg btn-block btn-xl">View All Patients</button>
    </div>
  </a>
  <a href="/logout">
    <div id="logOut" class="col-md-6 btnDiv">
      <button class="btn btn-info btn-lg btn-block btn-xl">Log Out</button>
    </div>
  </a>

