{{#each results}}
<h3>{{this.question}}</h3>

<p>{{this.answer}}</p>
<br>
{{/each}}

Here are all the questions and answers page.

default is to view all question and answers

you can also
add a question

Or

update with a note