<form action ="/questionCreate" method="post">
  <h3>Question</h3>
  <textarea name="question"> </textarea>
  <br>
  <h3>Answer</h3>
  <textarea name="answer"> </textarea>
  <button type="submit"> Submit </button>
</form>

