<form action ="/patientquestion/1/{{patient}}" method="post" onsubmit="questionSubmit()">
  <h3 class="question">Describe your middle school</h3>
  <textarea name="answer"> </textarea>
  <input type="hidden" name="question" id="question">
  <button type="submit"> Submit </button>
</form>