

<div class="col-md-10">
<form action ="/patientquestion/{{number}}" method="post" onsubmit="questionSubmit()">
  <h3 class="question">{{question}}</h3>
  <textarea name="answer"> </textarea>
  <input type="hidden" name="question" id="question">
  <button type="submit"> Submit </button>
</form>
</div>