<div class="col-md-6 col-md-offset-3 loginPanel">
  <div class="panel panel-info">
    <div class="panel-body">
      <form id="createQuestion" action ="/questionCreate" method="post">
        <h3 class="text-center">Question</h3>
        <textarea name="question" id="question" rows="2" class="form-control"> </textarea>
        <br>
        <h3 class="text-center">Answer</h3>
         <textarea name="answer" id="answer" rows="8" class="form-control"> </textarea>
         <p id="warning"> Please enter all fields before submitting </p>
        <button type="submit" class="btn btn-lg btn-primary btn-block"> Submit </button>
      </form>
    </div> 
  </div>
</div>