<div class="col-md-8">
{{#each results}}
<div class="panel panel-info">
  <div class="panel-body">
    <div class="col-md-8">
    <p>{{this.firstname}} {{this.lastname}} </p>
    </div>
    <div class="col-md-4">
      <a href="/view/{{this.id}}"><button class="btn-block btn-primary btn btn-lg">View All info </button></a>
    </div>
  </div>  
</div>
{{/each}}
</div>
<div class="col-md-4">
  <div class="panel panel-info">
    <div class="panel-body">
      <form id="notes" action="/search"  method="post">
        <div class="form-group">
          <input type="text" id="newNote" class="form-control input-lg" placeholder="Enter First Or Last Name" name="search">
          <p id="warning"> Please enter all fields before submitting </p>
          <button class="btn btn-lg btn-xl btn-block btn-primary" type="submit"> Search Again</button>
        </div>
      </form>  
      <a href="/loggedIn">
        <div class="col-md-12 btnDiv">
          <button class="btn btn-default btn-lg btn-block">Back
          </button>
        </div>
      </a>
    </div>
  </div>
</div>

