 {{>navBar}} 
  <form action="/create/signUp" method="POST">
    <label for="loginEmail">Email</label>
    <input type="email" name="loginEmail" class="form-control" id="loginEmail" placeholder="">  
    
    <label for="password">Password</label>
    <input type="text" class="form-control" name="password" id="password" placeholder="********">
    
    <label for="firstName">First Name</label>
    <input type="text" class="form-control" id="firstName" name="firstName" placeholder="">
    
    <label for="lastName">Last Name</label>
    
    <input type="text" class="form-control" id="lastName" name="lastName" placeholder="">
  
    <button type="submit">Submit</button>
</form>