.menu .btn-info, .btn-alert{
 margin-top:30px;
 margin-bottom:10px;
 padding-top:30px ;
 padding-bottom: 30px;
 font-size: 1.75em;
}

#loginButton{
  margin-bottom: 20px;
  margin-top: 10px;
}

.glyphicon-arrow-left{
  margin-right:20px;
/*  font-size: 20px;*/
}

.glyphicon{
/*font-size:20px;*/
margin-right:10px;
}
.modal .btn {
margin-bottom:10px;
 
}



.content{
  margin-top: 30px;
}

body{
  margin-bottom: 20px
}