.btn-info, .btn-alert{
 margin-top:30px;
 margin-bottom:10px;
 padding-top:30px ;
 padding-bottom: 30px;
 font-size: 2em;
}

.glyphicon-arrow-left{
  margin-right:20px;
  font-size: 20px;
}
.btn-alert{
 
}

.content{
  margin-top: 30px;
}